<mat-card class="about-me-card">
  <mat-card-header>
    <mat-card-title>About Me</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/images/profile.jpg" alt="Brett Morin" class="profile-image">
  <mat-card-content>
    <p>
      I love to code and build software. I am a full-stack software developer, 
      specializing in creating efficient, scalable, and user-friendly applications. With expertise in modern 
      web technologies and a keen eye for detail, I strive to learn new technologies and build software that 
      is easy to use and maintain.
    </p>
    <p>
      My experience spans across various industries, where I've successfully implemented complex systems, 
      optimized performance, and collaborated with cross-functional teams at home and abroad to deliver exceptional results.  
      My main love is C# and .NET, but I'm also proficient in Angular, TypeScript, and modern web development practices, with a strong 
      focus on clean code architecture and best practices.  I love doing anyting from the database to the UI.
    </p>
    <p>
      I'm constantly learning and adapting to new technologies, always looking for opportunities to improve 
      my skills and contribute to innovative projects. My goal is to create meaningful software solutions 
      that make a positive impact while maintaining high standards of quality and performance.
    </p>
  </mat-card-content>
</mat-card>
