@import '../../../styles.scss';

.setting {
  height: 60px;
  background-color: $veryDarkTeal;
  color: $lighterTeal;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 3px solid $darkBackground;
} 