@use '@angular/material' as mat;
@use '../../../../m3-theme.scss' as theme;


.sidenav-container {
  height: 91.5vh;
}

.sidenav {
  width: 20%;
  background-color: theme.get-palette-value('primary', 10);
  color: theme.get-palette-value('primary', 20);

}

.sidenav-content {
  flex: 1; /* Allow this section to grow and take up remaining space */
  overflow-y: fixed; /* Enable vertical scrolling only for this section */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;


  nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  a {
    color: theme.get-palette-value('primary', 80);
    text-align: left;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    border-radius: 0;

    &:hover {
      background-color: theme.get-palette-value('primary', 40);
    }

    &.active {
      background-color: theme.get-palette-value('primary', 50);
    }
  }
}

mat-sidenav-content {
  background-color: #1a1a1a;
  color: theme.get-palette-value('primary', 70);
} 