@import "../../../styles.scss";

.sidenav-container {
  height: 91vh;
}

.sidenav {
  width: 20%;
  background-color: $veryDarkTeal;
  color: $tan;
  font-size: large;
}

.sidenav-content {
  flex: 1; /* Allow this section to grow and take up remaining space */
  overflow-y: fixed; /* Enable vertical scrolling only for this section */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;


  nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  a {
    color: $tan;
    text-align: left;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    border-radius: 0;

    &:hover {
      background-color: $teal;
    }

    &.active {
      background-color: $darkTeal;
    }
  }
}

mat-sidenav-content {
  background-color: #1a1a1a;
  color: $lighterTeal;
} 