<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidenav-content">
      <h2>My Portfolio</h2>
      <nav>
        <a mat-button routerLink="/about" routerLinkActive="active">About Me</a>
        <a mat-button routerLink="/jobs" routerLinkActive="active">Jobs</a>
        <a mat-button routerLink="/certifications" routerLinkActive="active">Certifications</a>
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
