@Import '../../../styles.scss';


.jobs-list {
  display: flex;
  flex-direction: column;
}

.job-card {
  .job-details {
    display: flex;
    justify-content: space-between;

    .position {
      font-size: 1.2rem;
      font-weight: 500;
      color: #00bcd4;
    }
  }
  
}
