@use '@angular/material' as mat;
@use '../m3-theme.scss' as theme;

@include mat.core();

$white: #ffffff;
$darkBackground: #2a2a2a;
$veryDarkTeal: #003739;
$darkTeal: #00696e;
$teal: #2c8388;
$lightTeal: #4b9da2;
$lighterTeal: #67b8bd;
$lighestTeal: #9ff0f5;

$tan: #99745A;

html {
  @include mat.core-theme(theme.$dark-theme);
  @include mat.button-theme(theme.$dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    margin-top: 20px;
    color: $lightTeal;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }

mat-card {
    background-color: $darkBackground;
    color: $white;
    border-radius: 8px;
    transition: transform 0.3s ease;
    padding: 1rem;
    margin: 1rem;

    mat-card-header {
        margin-bottom: 1rem;
        
        mat-card-title {
          font-size: 2rem;
          font-weight: 500;
          color: $teal;
        }
    
        mat-card-subtitle {
            color: #b0b0b0;
          }
      }
    
      mat-card-content {
        p {
          color: rgba(255, 255, 255, 0.87);
          line-height: 1.6;
          margin-bottom: 1rem;
          font-size: 1.1rem;
        }
      }
}